{{- define "main" -}}
<div class="wrapper list-page">
    <header class="header">
        <h1 class="header-title center">{{ .Title }}</h1>
    </header>

    {{ if .Content }}
    <section class="page-content section-content">
        {{ .Content }}
    </section>
    {{ end }}

    <main class="page-content" aria-label="Content">
        {{ range .Pages.GroupByDate "2006" }}
        {{ $year := .Key }}
        <h2 class="post-year">{{ $year }}</h2>

        {{ range .Pages }}
            {{ partial "postCard" . }}
        {{ end }}

        {{ end }}
    </main>
</div>
{{- end -}}
